.footer-container{
    display: flex;
    background-color: #ADD5FA;
    justify-content: space-around;
}

.footer-container-servicio{
    margin: 30px;
    color: #FFFFFF;
}

.footer-span{
    color: #FFFFFF;
}

.footer-container-terminos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-container-terminos{
    margin: 30px;
}

.footer-terminos{
    color: #002D7C;
}

.footer-container-contactanos-iconos{
    display: flex;
    justify-content: space-around;
}

.h3, .footer-span{
    background-color: #ADD5FA;
    color: #FFFFFF;
}