.navbar{
   background-color: #95B8F6;
}

.cabecera-navbar-principal img{
    width: 4rem;
}

.nav-link{
    color: #3c3c3c;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 10px 30px;
}


.edicion-buscador{
    border: none;
    outline: none;
    border-radius: 5px;
}

.masthead{
    padding-top: 10.5rem;
    padding-bottom: 19rem;
    text-align: center;
    background-image: url(../img/fondo.jpg);
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

.container{
    color: #F9D99A;
    margin: 0 15rem;
    display: flex;
    flex-direction: column;
}

.nav-link:hover{
    background-color: #ADD5FA;
    border-radius: 5px;
}

.color-buscador{
    color: white;
    background-color: black;
    border: none;
    font-size: 1rem;
}

.color-buscador:hover{
    background-color: #ADD5FA;
    color: #3c3c3c;
}

.mover-link{
    display: flex;
    margin-left: 50%;
    width: 60%;
    justify-content: space-evenly;
}