.div-padre{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.container {
    background-image: url('../img/fondo.jpg'); /* Reemplazar con la ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    height: 500px; /* Altura del contenedor */
    overflow: hidden; /* Evita que el contenido del contenedor se salga del fondo */
  }
  
.container h2{
    padding: 50px 90px;
    font-weight: 400;
    align-items: center;
    color: #F9D99A;
}

h1{
    text-align: center;
    font-weight: 400;
    padding: 70px 0;
}

.container p{
    padding: 0 90px;
    color: #F9D99A;
    max-width: 40rem;
}

.categoria-jabones{
    display: flex;
    justify-content: space-around;
    
}

.categoria-jabones img{
    justify-content: space-between;
    width: 25rem;
    padding: 0 30px;
    
}

.contenedor{
    display: flex;
    text-align: center;
    color: #000000;
    font-family: 'Roboto';
    font-style: normal;
    gap: 20px;
}

h3{
    font-size: 25px;
    padding: 20px 0;
    background-color: #D9D9D9;
    margin: 0 15px;
}



