*{
    margin: 0;
}

.div-padre{
    display: flex;
    flex-direction: column;
}

.categoria{
    margin: 50px 0;
}

.button-contactanos{
    cursor: pointer;
}

.container {
    background-image: url('../img/fondo.jpg'); /* Reemplazar con la ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    height: 500px; /* Altura del contenedor */
    overflow: hidden; /* Evita que el contenido del contenedor se salga del fondo */
  }
  
.container h2{
    padding: 50px 90px;
    font-weight: 400;
    align-items: center;
    color: #F9D99A;
}

.edicion-h1{
    text-align: center;
    font-weight: 400;
}

.container p{
    padding: 0 30px;
    color: #F9D99A;
    max-width: 50rem;
   
}

.categoria-jabones{
    display: flex;
    justify-content: space-around;
}

.categoria-jabones img{
    width: 25rem;
    padding: 0 30px;
    
}

.contenedor{
    display: flex;
    text-align: center;
    color: #000000;
    font-family: 'Roboto';
    font-style: normal;
    gap: 20px;
}

h3{
    font-size: 25px;
    padding: 25px 0;
    background-color: #F9D99A;
    margin: 0 15px;
}

.cura-della-skin{
    margin: 100px 0;
}

.texto-cura-della-skin{
    display: flex;
    
}

.titulo-cds{
    background-color: #D9D9D9;
    margin: 0 20px;
}

.tutoriales-cds{
    padding: 0px 30px;
}
 
.contactanos-hijo-title{
    text-align: center;
    font-weight: 400;
    background-color: #ADD5FA;
}

.informacion{
    display: flex;
    flex-wrap: wrap;
}

.seleccion{
    margin: 10px;
}