.main-productos-padre{
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.main-productos-padre input,
.main-productos-padre select{
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    border-bottom: 1px solid #000;
}

.main-productos-padre label{
    width: 100%;
    font-weight: 500;
}

.form-productos{
    background: #F6F6F6;
    text-align: justify;
    height: 100%;   
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border-radius: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
    color: #000000;
}


.main-nombre-categoria{
    display: flex;
    justify-content: space-around;
    width: 87%;
    margin: 20px;
    
}

.title-agregar-productos{
    display: flex;
    justify-content: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 45px;
    color: #3366BF;
    border-bottom: 3px dashed #3366BF;
    
}

.title-agregar-productos h1{
    margin-bottom: 3%;
    margin-left: 10%;
    
}

.main-precio-cantidad{
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 20px;
    
}
.conteiner-mf{
    
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-fotos{
    height: 40%;
    width: 40%;
    margin-left: 20px;
    border: 1px dashed black;
    background-color: #fff;
    
   
}

.input-fotos{
    border: none;
}

.main-guardar-productos{
    display: flex;
    justify-content: center;
    width: 100%;
}

.main-guardar-productos button{
    margin: 20px;
    width: 60%;
}

.guardar-productos{
    background-color: #95B8F6;
    border: none;
    border-radius: 5px;
    padding: 2px 30px;
    color: #fff;
}

.productos-link{
    border: 2px solid #95B8F6;
    padding: 2px 50px;
    background-color: #fff;
    border-radius: 5px;
}

.icono-archivo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
        
}
.contenedorCentradoDropFile{
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconoArchivo{
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.tipo-archivo{
    display: flex;
    width: 40%;
    font-size: 14px;
    margin: 0 20px;
    justify-content: center;
    cursor: pointer;
}