#id_dario{
    display: flex;
    flex-wrap: wrap;
    margin: 2% 10%;
    border-bottom: 1px solid black;
}

.registro-titulo-principal{
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 45px;
    color: #000000;
    margin: 20px 0;
    width: 100%;
}

.registro-subtitulo-principal{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
}

.registro-titulo-principal,
.registro-subtitulo-principal{
    padding: 0 5%;
}

.formulario-registro-usuario{
    display: flex;
    justify-content: center;
}

.div-registro-usuario{
    width: 50%;
}

.label-registro-usuario{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 35px;
    color: #000000;
    opacity: 0.8;
}

.input-registro-usuario{
    border: none;
    background: #EFEFEF;
}

.radio-registro{
    display: flex;
    justify-content: space-between;
    background: #EFEFEF;
    margin: 0 5px;
    padding: 5px 0;
    border-radius: 5px;
}

.botones-registrar{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10%;
    
}

.registrar-boton{
    background: #95B8F6;
    border: none;
}

.cancelar-boton{
    background: #fff;
    border: 1px solid #95B8F6;
    color: #000000;
}